[submodule "software/googleAppEngine/samples/goAgent"]
	path = software/googleAppEngine/samples/goAgent
	url = https://github.com/GdZ/goagent.git
[submodule "tool-kit/ext4-utils"]
	path = tool-kit/ext4-utils
	url = https://github.com/YuLaw/ext4-utils.git
[submodule "tool-kit/init_android_env"]
	path = tool-kit/init_android_env
	url = git@github.com:GdZ/init_android_env.git
[submodule "py/monkeyrunner"]
	path = py/monkeyrunner
	url = git@github.com:GdZ/AutoTest.git
[submodule "eDict"]
	path = eDict
	url = git@github.com:GdZ/eDict.git
[submodule "tool-kit/excel-writer-xlsx"]
	path = tool-kit/perl-modules/excel-writer-xlsx
	url = https://github.com/jmcnamara/excel-writer-xlsx.git
[submodule "IDE/go"]
	path = IDE/go
	url = https://github.com/tav/go.git
[submodule "docs"]
	path = docs
	url = git@code.csdn.net:zgd1348833/docs.git
[submodule "config"]
	path = config
	url = git@www.cloris.com:config.git
[submodule "tool-kit/host.def"]
	path = tool-kit/host.def
	url = git@github.com:GdZ/google-hosts.git
[submodule "projects/Android-Universal-Image-Loader"]
	path = projects/Android-Universal-Image-Loader
	url = git@github.com:nostra13/Android-Universal-Image-Loader.git
[submodule "projects/image.cached/picasso"]
	path = projects/image.cached/picasso
	url = git@github.com:square/picasso.git
[submodule "mobile/osmocom-bb"]
	path = mobile/osmocom-bb
	url = git@github.com:korczis/osmocom-bb.git
[submodule "tool-kit/remote-desktop-clients"]
	path = tool-kit/remote-desktop-clients
	url = https://github.com/iiordanov/remote-desktop-clients.git
[submodule "tool-kit/repo"]
	path = tool-kit/repo
	url = git@www.cloris.com:repo.git
[submodule "sites/PHPMailer"]
	path = sites/PHPMailer
	url = https://github.com/Synchro/PHPMailer.git
[submodule "tool-kit/MemTest"]
	path = tool-kit/MemTest
	url = git@www.cloris.com:MemTest.git
[submodule "software/homebrew"]
	path = software/homebrew
	url = https://github.com/mxcl/homebrew.git
[submodule "tool-kit/solarized"]
	path = tool-kit/solarized
	url = https://github.com/altercation/solarized.git
[submodule "projects/gfw/openwrt-gfw"]
	path = projects/gfw/openwrt-gfw
	url = https://github.com/hackgfw/openwrt-gfw.git
[submodule "projects/gfw/openwrt-fanqiang"]
	path = projects/gfw/openwrt-fanqiang
	url = https://github.com/softwaredownload/openwrt-fanqiang.git
[submodule "projects/openwrt"]
	path = projects/openwrt
	url = https://github.com/openwrt-mirror/openwrt.git
[submodule "tool-kit/git"]
	path = tool-kit/git
	url = https://github.com/git/git
[submodule "tool-kit/openocd"]
	path = tool-kit/openocd
	url = https://github.com/ntfreak/openocd.git
[submodule "projects/svg-android"]
	path = projects/svg-android
	url = git://github.com/GdZ/svg-android.git
[submodule "projects/12306_ticket_helper"]
	path = projects/12306_ticket_helper
	url = git@github.com:GdZ/12306_ticket_helper.git
[submodule "projects/TECP"]
	path = projects/TECP
	url = git@github.com:GdZ/TECP.git
[submodule "projects/afinal"]
	path = projects/afinal
	url = git@github.com:yangfuhai/afinal.git
[submodule "projects/node"]
	path = projects/node
	url = git@github.com:joyent/node.git
[submodule "projects/NodeBeginngerBook"]
	path = projects/NodeBeginngerBook
	url = git@github.com:GdZ/NodeBeginngerBook.git
[submodule "projects/httpserver"]
	path = projects/httpserver
	url = git@github.com:youngj/httpserver.git
[submodule "projects/AutoTest"]
	path = projects/AutoTest
	url = git@github.com:GdZ/AutoTest.git
[submodule "projects/8021xclient-for-windows"]
	path = projects/8021xclient-for-windows
	url = git@github.com:tengattack/8021xclient-for-windows.git
[submodule "projects/jquery-ui"]
	path = projects/jquery-ui
	url = git@github.com:GdZ/jquery-ui.git
[submodule "projects/init_android_env"]
	path = projects/init_android_env
	url = git@github.com:GdZ/init_android_env.git
[submodule "projects/csshake"]
	path = projects/csshake
	url = git@github.com:GdZ/csshake.git
[submodule "projects/kHTTPd-Mini"]
	path = projects/kHTTPd-Mini
	url = git@github.com:K-Shadow/kHTTPd-Mini.git
[submodule "projects/ubuntu-tweak"]
	path = projects/ubuntu-tweak
	url = git@github.com:GdZ/ubuntu-tweak.git
[submodule "projects/njit8021xclient"]
	path = projects/njit8021xclient
	url = git@github.com:GdZ/njit8021xclient.git
[submodule "projects/BassDiffusion"]
	path = projects/BassDiffusion
	url = git@github.com:GdZ/BassDiffusion.git
[submodule "projects/2048"]
	path = projects/2048
	url = git@github.com:GdZ/2048.git
[submodule "projects/jsonTest"]
	path = projects/jsonTest
	url = git@github.com:GdZ/jsonTest.git
[submodule "projects/TranslateProject"]
	path = projects/TranslateProject
	url = git@github.com:LCTT/TranslateProject.git
[submodule "py/gunicorn"]
	path = py/gunicorn
	url = https://github.com/benoitc/gunicorn.git
[submodule "tool-kit/web.server"]
	path = tool-kit/web.server
	url = git@www.cloris.com:web.server.git
[submodule "py/http/HTTP"]
	path = py/http/HTTP
	url = https://github.com/FalconShock/HTTP.git
[submodule "py/http/http_tutorial"]
	path = py/http/http_tutorial
	url = https://github.com/briandorsey/http_tutorial.git
[submodule "py/http/simpleHttpServer"]
	path = py/http/simpleHttpServer
	url = git@github.com:GdZ/simpleHttpServer.git
[submodule "py/http/aiohttp"]
	path = py/http/aiohttp
	url = https://github.com/KeepSafe/aiohttp.git
[submodule "py/simplejson"]
	path = py/simplejson
	url = https://github.com/simplejson/simplejson.git
[submodule "py/lib/simplejson"]
	path = py/lib/simplejson
	url = https://github.com/simplejson/simplejson.git
[submodule "software/remarkable"]
	path = software/remarkable
	url = https://github.com/jonschlinkert/remarkable.git
[submodule "projects/hacker-scripts"]
	path = projects/hacker-scripts
	url = https://github.com/NARKOZ/hacker-scripts.git
[submodule "totur/awesome-c"]
	path = totur/awesome-c
	url = https://notabug.org/koz.ross/awesome-c.git
[submodule "totur/awesome-c-cn"]
	path = totur/awesome-c-cn
	url = git@github.com:GdZ/awesome-c-cn.git
[submodule "totur/awesome-cl"]
	path = totur/awesome-cl
	url = git@github.com:CodyReichert/awesome-cl.git
[submodule "totur/awesome-gamedev"]
	path = totur/awesome-gamedev
	url = https://notabug.org/koz.ross/awesome-gamedev.git
[submodule "totur/awesome-machine-learning"]
	path = totur/awesome-machine-learning
	url = git@github.com:josephmisiti/awesome-machine-learning.git
[submodule "totur/awesome-python"]
	path = totur/awesome-python
	url = git@github.com:vinta/awesome-python.git
[submodule "totur/awesome-scala"]
	path = totur/awesome-scala
	url = git@github.com:lauris/awesome-scala.git
[submodule "totur/awesome-honeypots"]
	path = totur/awesome-honeypots
	url = git@github.com:paralax/awesome-honeypots.git
[submodule "totur/awesome-aws"]
	path = totur/awesome-aws
	url = git@github.com:donnemartin/awesome-aws.git
[submodule "totur/awesome-sqlalchemy"]
	path = totur/awesome-sqlalchemy
	url = git@github.com:dahlia/awesome-sqlalchemy.git
[submodule "totur/awesome-react"]
	path = totur/awesome-react
	url = git@github.com:enaqx/awesome-react.git
[submodule "totur/awesome-ctf"]
	path = totur/awesome-ctf
	url = git@github.com:apsdehal/awesome-ctf.git
[submodule "totur/awesome-awesomeness-zh_CN"]
	path = totur/awesome-awesomeness-zh_CN
	url = git@github.com:justjavac/awesome-awesomeness-zh_CN.git
[submodule "totur/free-programming-books-zh_CN"]
	path = totur/free-programming-books-zh_CN
	url = git@github.com:justjavac/free-programming-books-zh_CN.git
[submodule "totur/getAwesomeness"]
	path = totur/getAwesomeness
	url = git@github.com:panzhangwang/getAwesomeness.git
[submodule "totur/Android-Tips"]
	path = totur/Android-Tips
	url = git@github.com:tangqi92/Android-Tips.git
[submodule "totur/awesome-kotlin"]
	path = totur/awesome-kotlin
	url = git@github.com:JavaBy/awesome-kotlin.git
[submodule "tool-kit/apfel/syringe"]
	path = tool-kit/apfel/syringe
	url = git@github.com:Chronic-Dev/syringe.git
[submodule "libs/sublime-imefix/sublime-imethod-fix"]
	path = libs/sublime-imefix/sublime-imethod-fix
	url = git@github.com:whitequark/sublime-imethod-fix.git
[submodule "libs/sublime-imefix/InputHelper"]
	path = libs/sublime-imefix/InputHelper
	url = git@github.com:xgenvn/InputHelper.git
[submodule "libs/sublime-imefix/sublime-text-imfix"]
	path = libs/sublime-imefix/sublime-text-imfix
	url = git@github.com:lyfeyaj/sublime-text-imfix.git
[submodule "libs/sublime-imefix/IMESupport"]
	path = libs/sublime-imefix/IMESupport
	url = git@github.com:chikatoike/IMESupport.git
[submodule "libs/sublime-imefix/SublimeIBus"]
	path = libs/sublime-imefix/SublimeIBus
	url = git@github.com:oglops/SublimeIBus.git
[submodule "libs/sublime-imefix/SublimeMozcInput"]
	path = libs/sublime-imefix/SublimeMozcInput
	url = git@github.com:yasuyuky/SublimeMozcInput.git
[submodule "libs/sublime/Packages"]
	path = libs/sublime/Packages
	url = git@github.com:sublimehq/Packages.git
[submodule "android/m75-MX4"]
	path = android/m75-MX4
	url = git@github.com:meizuosc/m75.git
[submodule "android/m576-MX5pro"]
	path = android/m576-MX5pro
	url = git@github.com:meizuosc/m576.git
[submodule "deepmind/AlphaGo"]
	path = deepmind/AlphaGo
	url = git@github.com:Rochester-NRT/AlphaGo.git
[submodule "minijob/laravel-getting-started.wiki"]
	path = minijob/laravel-getting-started.wiki
	url = https://github.com/huanghua581/laravel-getting-started.wiki.git
[submodule "minijob/laravel-getting-started"]
	path = minijob/laravel-getting-started
	url = https://github.com/huanghua581/laravel-getting-started.git
[submodule "minijob/LikeLaravel"]
	path = minijob/LikeLaravel
	url = https://github.com/maliang/LikeLaravel.git
[submodule "translate/LCTT.github.io"]
	path = translate/LCTT.github.io
	url = https://github.com/LCTT/LCTT.github.io.git
[submodule "translate/TranslateProject"]
	path = translate/TranslateProject
	url = https://github.com/LCTT/TranslateProject.git
[submodule "translate/man-pages"]
	path = translate/man-pages
	url = https://github.com/LCTT/man-pages.git
[submodule "translate/LFS-BOOK"]
	path = translate/LFS-BOOK
	url = https://github.com/LCTT/LFS-BOOK.git
[submodule "translate/LFS-BOOK-7.7-systemd"]
	path = translate/LFS-BOOK-7.7-systemd
	url = https://github.com/LCTT/LFS-BOOK-7.7-systemd.git
[submodule "spiders/playfish"]
	path = spiders/playfish
	url = https://github.com/TrumanDu/playfish.git
[submodule "spiders/crawlzilla"]
	path = spiders/crawlzilla
	url = https://github.com/shunfa/crawlzilla.git
[submodule "spiders/heritrix3"]
	path = spiders/heritrix3
	url = https://github.com/internetarchive/heritrix3.git
[submodule "spiders/jspider"]
	path = spiders/jspider
	url = https://github.com/jiangy/jspider.git
[submodule "spiders/webmagic"]
	path = spiders/webmagic
	url = https://github.com/code4craft/webmagic.git
[submodule "spiders/jobhunter"]
	path = spiders/jobhunter
	url = https://github.com/webmagic-io/jobhunter.git
[submodule "technik/javascript"]
	path = technik/javascript
	url = https://github.com/shakusi2009/javascript.git
[submodule "totur/the-way-to-go_ZH_CN"]
	path = totur/the-way-to-go_ZH_CN
	url = https://github.com/shakusi2009/the-way-to-go_ZH_CN.git
[submodule "tool-kit/Hosts"]
	path = tool-kit/Hosts
	url = https://github.com/shakusi2009/Hosts.git
[submodule "tool-kit/huhamhire-hosts"]
	path = tool-kit/huhamhire-hosts
	url = https://github.com/huhamhire/huhamhire-hosts.git
[submodule "spiders/webmagic.docs"]
	path = spiders/webmagic.docs
	url = https://github.com/webmagic-io/docs.git
[submodule "spiders/webmagic-io.github.io"]
	path = spiders/webmagic-io.github.io
	url = https://github.com/webmagic-io/webmagic-io.github.io.git
[submodule "topics/vote_against_37"]
	path = topics/vote_against_37
	url = https://github.com/ericls/vote_against_37.git
[submodule "topics/loggerhead.vote_against_37"]
	path = topics/loggerhead.vote_against_37
	url = https://github.com/loggerhead/vote_against_37.git
[submodule "android/repo"]
	path = android/repo
	url = https://github.com/FlymeOS/repo.git
[submodule "libs/myrobotlab"]
	path = libs/myrobotlab
	url = https://github.com/MyRobotLab/repo.git
[submodule "android/tools_repo"]
	path = android/tools_repo
	url = https://github.com/android/tools_repo.git
[submodule "minijob/magento/magento2"]
	path = minijob/magento/magento2
	url = https://github.com/magento/magento2
[submodule "minijob/eqplay/source/BMI160_driver"]
	path = minijob/eqplay/source/BMI160_driver
	url = https://github.com/BoschSensortec/BMI160_driver.git
[submodule "ppm/grw"]
	path = ppm/grw
	url = https://github.com/wufeifei/grw.git
[submodule "spiders/scrapy/dirbot"]
	path = spiders/scrapy/dirbot
	url = https://github.com/GdZ/dirbot.git
[submodule "spiders/scrapy/scrapy_doc_chs"]
	path = spiders/scrapy/scrapy_doc_chs
	url = https://github.com/marchtea/scrapy_doc_chs.git
[submodule "spiders/scrapy/scrapy"]
	path = spiders/scrapy/scrapy
	url = https://github.com/scrapy/scrapy.git
[submodule "minijob/laravel"]
	path = minijob/laravel
	url = https://github.com/laravel/laravel.git
[submodule "projects/cheniubang_android"]
	path = projects/cheniubang_android
	url = https://gitcafe.com/chexingren/cheniubang_android.git
[submodule "tool-kit/vim"]
	path = tool-kit/vim
	url = https://github.com/vim/vim.git
[submodule "tool-kit/vim.plugin/vundle"]
	path = tool-kit/vim.plugin/vundle
	url = https://github.com/gmarik/vundle.git
[submodule "tool-kit/vim.plugin/vim_cfg"]
	path = tool-kit/vim.plugin/vim_cfg
	url = https://github.com/GdZ/vim_cfg.git
[submodule "tool-kit/vim.plugin/spf13-vim"]
	path = tool-kit/vim.plugin/spf13-vim
	url = https://github.com/spf13/spf13-vim.git
[submodule "tool-kit/sh.plugin/oh-my-zsh"]
	path = tool-kit/sh.plugin/oh-my-zsh
	url = https://github.com/GdZ/oh-my-zsh.git
[submodule "web/gdz.github.io"]
	path = web/gdz.github.io
	url = git@github.com:GdZ/gdz.github.io.git
[submodule "dev-kit/software/version/gitolite"]
	path = dev-kit/software/version/gitolite
	url = git://github.com/sitaramc/gitolite
[submodule "dev-kit/yunPan/onedrive-d-old"]
	path = dev-kit/yunPan/onedrive-d-old
	url = https://github.com/xybu/onedrive-d-old.git
[submodule "dev-kit/yunPan/grive"]
	path = dev-kit/yunPan/grive
	url = https://github.com/Grive/grive.git
[submodule "dev-kit/yunPan/grive2"]
	path = dev-kit/yunPan/grive2
	url = https://github.com/vitalif/grive2.git
[submodule "media/netease/FeelUOwn"]
	path = media/netease/FeelUOwn
	url = https://github.com/GdZ/FeelUOwn.git
[submodule "minijob/eqplay/source/webService"]
	path = minijob/eqplay/source/webService
	url = git@git.oschina.net:mr.z/webService.git
